body{
    background-color: #EBE8DB;
}
li{
    list-style-type: none;
}
.header{
    text-align: center;
    text-shadow: 1px 1px 1px;
    color:#D76C82; 
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}
.navBar{
    display: flex;
    margin: 2rem;
    justify-content: space-around;
}
.masterContainerUp{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}
.masterContainerDown{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}
.firstProject{
    text-transform: capitalize;
    background-color: #D76C82;
    height: 400px;
    width: 400px;
    border-radius: 15px;
}
.secondProject{
    background-color: #50212a;
    height: 400px;
    width: 400px;
}
.thirdProject{
    background-color: #45bb16;
    height: 400px;
    width: 400px;
}
.fourthProject{
    background-color: #ce0bc4;
    height: 400px;
    width: 400px;
}
.fifthProject{
    background-color: #24060c;
    height: 400px;
    width: 400px;
}
.sixthProject{
    background-color: #0db4ac;
    height: 400px;
    width: 400px;
}
footer{
    font-size: 0.7rem;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ROND" 0; 
}
 
